@mixin default_wrap {
  display: block;
  margin: auto;
  max-width: 1280px;
}

@mixin bordered {
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
}
