.blurb {
  initial-letter: 2;
  color: $alt;
}

span.about {
  button {
    font-weight: 700;
    &:hover {
      color: $secondary;
    }
  }

  .about_section_image {
    * {
      border-radius: 7px;
    }
  }
}
