@import "_mixins.scss";
@import "_variables.scss";
@import "about.scss";
@import "contact.scss";
@import "footer.scss";
@import "gallery.scss";
@import "index.scss";
@import "navigation.scss";
@import "services.scss";
@import url("https://use.typekit.net/sad2atg.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: $background;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.03rem;
  main {
    flex-grow: 1;
  }
}

.primary_wrap {
  background-color: $primary;
  width: 100%;
}

.content_wrap {
  @include default_wrap;

  a,
  a.insta_link {
    color: $alt;
    font-weight: 500;
    fill: $alt;

    .insta_icon {
      width: 35px;
    }
    &:hover {
      text-decoration: none;
      color: $secondary;

      .insta_icon {
        fill: $secondary;
      }
    }
  }
}

.small_wrap {
  @include small_wrap;
}

.logo {
  display: block;
  margin: auto;
  max-width: 350px;
  width: 100%;
  height: inherit;
}

.watercolor {
  margin-top: 4.7rem;
  margin-left: -2rem;
  width: 110%;
}

@media only screen and (max-width: 768px) {
  .watercolor {
    margin-top: 0;
    margin-left: 0;
  }
}
