.schedule_form {
  label {
    color: $alt;
    font-weight: 600;
    font-size: 1.2rem;
  }

  button {
    font-weight: 700;
    background-color: $secondary_opac;
    &:hover {
      color: $secondary;
    }
  }
}

.content_wrap {
  .card {
    background-color: $primary;
    border-color: darken($color: $secondary, $amount: 15%);
    cursor: default;
    .icon {
      width: 100%;
      fill: $alt;
    }
    .card-header {
      background-color: $secondary_opac;
      text-align: center;
      color: $alt;

      .icon {
        max-width: 25px;
      }
    }
    .list-group.list-group-flush {
      .list-group-item {
        text-align: center;
        color: $alt;
        background-color: rgba(0, 0, 0, 0);
        margin: 0.3rem 0 0.5rem 0;

        span {
          color: darken($color: $alt, $amount: 25%);
        }

        &:hover {
          color: lighten($color: $secondary, $amount: 15%);
          background-color: $primary_opac;
        }
      }
    }
    .card-body {
      text-align: center;
      background-color: $secondary_opac;

      .icon {
        max-width: 21px;
      }
    }
  }
}
