.cover_wrap {
  background: $primary;
  width: 100%;
  border-bottom: 2px solid $secondary;
}

.intro {
  h1,
  h2,
  h3 {
    color: $alt;
  }

  button {
    font-weight: 700;
    background-color: $secondary_opac;
    &:hover {
      color: $secondary;
    }
  }
}
