.cover_wrap {
  background: $primary;
  width: 100%;
  border-bottom: 2px solid $secondary;
}

.jamie_cover_img {
  display: block;
  width: 100%;
  // max-width: 1280px;
  margin: auto;
  background: $primary;

  h2 {
    color: $alt;
  }

  a {
    color: lighten($color: $secondary, $amount: 15%);

    &:hover {
      text-decoration: none;
      color: $secondary;
    }
  }
}

.cover_text {
  h2,
  h3 {
    color: $alt;
  }
  button.btn.btn-link.glam_btn {
    color: $alt;
    border: 2px solid $alt;
  }
}

.insta_wrap {
  background: $secondary;
  width: 100%;

  .insta_link {
    color: $alt;
    font-weight: 500;

    &:hover {
      text-decoration: none;
      color: darken($color: $alt, $amount: 15%);
    }
  }
}
