header {
  transition: background 0.25s ease-out;
  .nav_wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
    height: 130px;
    border-bottom: 2px solid $secondary;
    background: $primary;

    .logo_container {
      margin: auto;
      max-width: 450px;
    }

    .logo {
      background: rgba(255, 255, 255, 0.75);
      border-radius: 50%;
      border: 2px solid $secondary;
      margin: 0.5rem auto 0 auto;
      max-width: 100px;
    }

    h1.site_header {
      font-size: 1.7rem;
      font-weight: 500;
      margin-top: -2rem;

      a {
        color: darken($color: $alt, $amount: 15%);

        &:hover {
          text-decoration: none;
        }
      }
    }

    nav.navbar {
      margin: auto;
      max-width: 1080px;
      margin: 4.5rem auto 0 auto;
      background-color: $primary;

      button.navbar-toggler {
        &:active,
        &:focus {
          outline-color: $secondary;
        }

        .icon {
          width: 32px;
          fill: $alt;
        }
      }

      .navbar-collapse {
        .navbar-nav {
          .nav-link.active {
            color: lighten($color: $alt, $amount: 15%) !important;
          }
          .nav-link {
            color: lighten($color: $secondary, $amount: 15%);
            font-weight: 500;
            letter-spacing: 0.03rem;

            &:hover {
              color: lighten($color: $alt, $amount: 15%);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    .nav_wrap {
      nav.navbar {
        border-bottom: 2px solid $secondary;
      }
    }
  }
}
