nav {
  .navbar-toggler {
    .icon {
      width: 35px;
      height: 35px;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        a.nav-link {
          color: $alt;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}
